body {
	background-color: #121212;
}

h1 {
	font-size: 32px;
	color: #ffffff;
	padding: 0px 0px 0px 10px;
	border-left-width: 3px;
	border-left-style: solid;
	border-left-color: #FFE135;
	font-family: "poppins", sans-serif;
	font-style: normal;
	font-weight: bold;
}

h2 {
	font-size: 25px;
	color: #ffffff;
	padding: 0px 0px 0px 10px;
	margin: 80px 0px 0px 0px;
	border-left-width: 3px;
	border-left-style: solid;
	border-left-color: #089E00;
	font-family: "poppins", sans-serif;
	font-style: normal;
	font-weight: bold;
}

.h4 {
	font-size: 14px;
	color: #4796E3;
	font-family: "Poppins", sans-serif;
	font-style: italic;
	padding: 0px 0px 10px 0px;
}

.h5 {
	color: #ffffff;
	font-family: "Poppins", sans-serif;
	font-style: italic;
	font-size: 12px;
	padding: 10px 0px 10px 0px;
}

p {
	font-size: 16px;
	color: #ffffff;
	font-family: "Open Sans", sans-serif;
	font-weight: 400;
}

a {
	color: #4796E3;
	text-decoration: none;
}

a:hover {
	color: #FFE135;
	text-decoration: underline;
}

blockquote {
	font-size: 18px;
	color: #FAFAFA;
	font-family: "Poppins", sans-serif;
	font-style: italic;
	padding: 10px 0px 10px 20px;
	border-left-width: 3px;
	border-left-style: solid;
	border-left-color: #FFE135;
}

.names {
	font-weight: bold;
	color: #FFE135;
}

.first {
	font-weight: bold;
}

.quotes {
	font-style: italic;
}

.logo {
	padding: 20px 0px 40px 0px;
}

.list-group {
	border-radius: 0px;
	margin: 15px 0px 0px 0px;
	padding: 10px;
}

.list-group-item {
	background: none;
	border-left: none;
	border-right: none;
	border-color: #089E00;
	color: #ffffff;
	font-size: 14px;
}

.list-group-item:hover{
	background-color: #089E00;
	color: #ffffff;
	text-decoration: underline;
}

.list-group-item a {
	color: #ffffff;
	text-decoration: none;
}

.list-group-item a:hover {
	color: #ffffff;
}

.also a {
	color: #ffffff;
	font-family: 'poppins', sans-serif;
	font-size: 14px;
	text-decoration: none;
	display: block; /* asked claude why text margins weren't working and it said to put this */
	margin: 10px 0px 0px 0px;
}

.also a:hover {
	color: #089E00;
	text-decoration: underline;
}


.subheading {
	font-size: 12px;
	color: #fffff;
	font-style: italic;
}

.footer {
	padding: 20px 0px 0px 0px;
}

.footer-links {
	list-style: none; /* claude suggested I put this */
	padding: 0;
	margin: 0;
	display: inline;
}

.footer-links li {
	display: inline;
}

.footer-links a {
	margin: 15px;
	text-decoration: none;
	color: #089E00;
	padding: 5px;
} 

.footer-links a:hover {
	text-decoration: underline;
}

.social-icons {
	list-style: none;
	padding: 0;
	margin-top: 10px;
	display: flex;
	justify-content: center;
	gap: 20px;
}

.social-icons li {
	display: inline;
}

.social-icons img {
	width: 30px;
	height: auto;
	transition: transform 0.3s;
}

.social-icons img:hover {
	transform: scale(1.2);
}

.navbar{ 
	min-height: 40px
}

.bg-body-tertiary { 
	background-color: #121212 !important;
}

.navbar-nav .nav-link{ 
	color: #ffffff;
	font-family: 'poppins', sans-serif;
	font-size: 20px;
}

.navbar-nav .active.nav-link{ 
	color: #089E00;
}

.navbar-nav .nav-link:hover{ 
	text-decoration: underline;
}

.navbar-toggler {
	color: #089E00;
}

.navbar-toggler-icon {
    filter: invert(48%) sepia(79%) saturate(2476%) hue-rotate(86deg) brightness(118%) contrast(119%);
} /* since its an SVG I had claude help me change the icon color */

.xtra {
	padding: 0px 0px 20px 0px;
}


.jumbotron {
	font-family: 'poppins', sans-serif;
	background-image: url('../images/nano.png');
	background-size: cover;
	background-position: center;
	text-shadow: 2px 2px 4px rgba(0, 0, 0, 1);
	/*everything below in this class I got help from claude */
	min-height: 60vh;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
}

.dek {
	font-family: 'open sans', sans-serif;
}

.btn-success {
	font-family: 'poppins', sans-serif;
	text-shadow: none;
	align-self: flex-start; /* continuation of what I got from claude above */
}

.btn-success:hover {
	background-color: #ffffff;
	color: #089E00;
	text-decoration: none;
}